@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');



*{

box-sizing:border-box;

font-family:'Inter',sans-serif;

}



body{


margin:0;


background:

linear-gradient(

135deg,

#ffffff,

#E4E4C9

);


color:var(--preto);



}



.page{


min-height:100vh;


padding:50px 90px;



}



.container{


max-width:1300px;

margin:auto;


}





.titulo{


font-size:64px;

font-weight:800;

line-height:1.05;


}



.subtitulo{


font-size:22px;

color:var(--cinza);

max-width:600px;

margin-top:20px;


}







.card{


background:var(--branco);


border-radius:var(--raio);


padding:35px;


box-shadow:var(--sombra);


margin-bottom:30px;


transition:.3s;



}



.card:hover{


transform:translateY(-5px);


box-shadow:var(--sombra-forte);


}






.grid{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));


gap:30px;


}







button{


border:none;


padding:15px 35px;


border-radius:40px;


cursor:pointer;


font-weight:700;


font-size:15px;


transition:.3s;


}




button:hover{


transform:translateY(-3px);


}




.botao{


background:var(--preto);


color:white;


}



.botao:hover{


background:var(--verde);


}






.btn-verde{


background:var(--verde);


color:white;


}




.btn-amarelo{


background:var(--mostarda);


color:white;


}





.btn-vermelho{


background:var(--vermelho);


color:white;


}








input,select{


width:100%;


padding:16px;


border-radius:18px;


border:

1px solid #ddd;


margin:10px 0;


font-size:16px;


background:white;


}






.header{


display:flex;


justify-content:space-between;


align-items:center;


padding:25px 90px;


background:white;


box-shadow:var(--sombra);



}





.header h2{


font-size:32px;


font-weight:800;


}







.secao{


margin-top:50px;


}





.titulo-card{


font-size:28px;


font-weight:800;


margin-bottom:20px;


}
