:root{


--preto:#1F1F1F;

--branco:#FFFFFF;


--bege:#E4E4C9;


--amarelo:#FFFD99;



--verde:#4CAF50;


--mostarda:#D4A017;


--vermelho:#D9534F;



--cinza:#6B6B6B;



--sombra:
0 20px 50px rgba(0,0,0,0.08);



--sombra-forte:
0 30px 70px rgba(0,0,0,0.12);



--raio:

28px;



}